<div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center">Cambiar contrase침a</h2>
                <form id="loginForm">
                    <div class="mb-3">
                        <input type="email" class="form-control" name="email" placeholder="Correo Electr칩nico">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Nueva contrase침a">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Cambiar mi contrase침a</button>
                </form>
                <span id="responseLogin" class="mt-2 d-block text-center"></span>
               
        </div>
    </div>









<script src="/js/changepassword.js"></script>
