<h1>Chat CODER</h1>

<div>
    <input id="chatBox" type="email">
</div>
<div>
    <p id="messagelogs"></p>
</div>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chatMongo.js"></script>