<body>
<header>
        <h1>Bienvenido a nuestro sitio web</h1>
        <nav>
            <ul>
                <li><a href="/home">Inicio</a></li>
                <li><a href="/users">Usuarios</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>

      <section class="main-content">
        <h2>Descubre nuestras ofertas especiales</h2>
        <p>¡Explora nuestro catálogo y encuentra los mejores productos!</p>
        <a href="/products" class="btn">Ver productos</a>
    </section>

    <footer>
        <p>&copy; 2023 Todos los derechos reservados</p>
    </footer>
    
</body>