<h2>Iniciar sesión</h2>

<form id="loginForm">
    
    <input type="email" name="email" placeholder="Correo Electrónico"> 
    <input type="password" name="password" placeholder="Contraseña">
<button type="submit">Ingresar</button>
</form>

<span id="responseLogin"> </span>

<script src="/js/login.js"></script>






















     <script src="/js/login.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
