
 <title>Perfil de Usuario</title>

<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Perfil de Usuario</h5>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Nombre:</strong> {{ user.name }} {{ user.lastname }}</li>
                    <li class="list-group-item"><strong>Correo Electrónico:</strong> {{ user.email }}</li>
                    <li class="list-group-item"><strong>Edad:</strong> {{ user.age }}</li>
                </ul>
            </div>
        </div>
    </div>
    <br>
<div>
    <button class="btn btn-danger" id="cerrarSesion">Cerrar Sesión</button>
</div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="/js/cerrarSession.js"></script>



</body>