<div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center">Recupera tu Contraseña</h2>
                <form id="loginForm">
                    <div class="mb-3">
                        <input type="email" class="form-control" name="email" placeholder="Ingrese su Correo Electrónico">
                    </div>
                    
                    <button type="submit" class="btn btn-primary btn-block">Recuperar mi contraseña</button>
                </form>
                
<span id="responseLogin" class="mt-2 d-block text-center"></span>
                <div class="text-center mt-3">
                
            </div>
        </div>
    </div>




<script src="/js/recovery.js"></script>




