<h2>Registrar usuario</h2>

<form id="registerForm">
    <input type="text" name="name" placeholder="Nombre">
    <input type="text" name="lastname" placeholder="Apellido">
    <input type="email" name="email" placeholder="Correo Electrónico"> 
    <input type="password" name="password" placeholder="Contraseña">
<button type="submit">Crear Usuario</button>
</form>

<span id="responseRegister"> </span>

<script src="/js/register.js"></script>

